<div class="container">
  <div class="information">
    <div class="title">
      <h3>
        <%= @tweet.subject %>
      </h3>
      <div class="professor">
        <h4><%= @tweet.name %></h4>
      </div>
      <header class="header-section">
        <h4>基本情報</h4>
      </header>
      <div class="details">
        <h5>~授業の内容~</h5>
        <p><%= @tweet.detail %></p>
      </div>
      <div class="evaluation">
        <h5>~評価方法~</h5>
        <P><%= @tweet.evaluation %></P>
      </div>
    </div>
    <div class="review">
      <%# link_toを使おう（全体的に） %>
      <a class="new_btn" href="/tweets/<%= @tweet.id %>/reviews/new">この授業のレビューを書く</a>
    </div>
    <div class="comment">
      <div class="header-section">
        <h4>みんなのレビュー一覧</h4>
      </div>
      <div class="comment">
        <% @tweet.reviews.each do |review| %>
        <a class="mypage" href="/users/<%= review.user_id %>">
          <h4>
            <<%= review.user.nickname %> <%= review.user.faculty %> <%= review.user.grade %>>
          </h4>
        </a>
        <div class="scores">
          <%# なぞの閉じタグの名残？ %>
          <span><%= review.score %></>
        </div>
        <span class="rating-star"><i class="star-actived  rate-<%= review.rate %>0"></i>
        </span>

        <p><%= review.review %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="sub-contentss">
  　　 <div class="sub-title2">
    　　 　<i class="fas fa-chess-queen"></i>
    <h4 class="text-ranking">
      投稿数が多いランキング
    </h4>
  </div>
  <div class="rank">
    <% @ranking.each.with_index(1) do |tweet, i| %>
    <span class="number"><%= i %>位</span>
    <a href="/tweets/<%= tweet.id %>">
      <div class="frame">
        <span><%= tweet.week %></span>
        <span class="text-subject"><%= tweet.subject %></sapn>
          <span class="text-name"><%= tweet.name %></span>

          <div class="text-small">
            <% if tweet.reviews.present? %>
            <span class="rating-star">
              <i class="star-actived rate-<%= tweet.review_average %>0"></i>
            </span>
            <% else %>
            <span class="rating-star">
              <i class="star-actived rate-0"></i>
            </span>
            <% end %>
          </div>

      </div>
    </a>
    <% end %>
  </div>
</div>
